html {
  background: linear-gradient(177.52deg, #4b749f 2.11%, #243748 81.34%);
  /* background: linear-gradient(to bottom, #00d1b2, #00aeac, #008a99, #24687c, #2f4858); */
  background-repeat: no-repeat;
  height: 100%;
}

.button.is-primary {
  color: #1E1E1E;
  background-color: #c5d8d1;
}

.button.is-primary:hover,
.button.is-primary:active,
.button.is-primary:focus {
  color: #1E1E1E;
  background-color: #b3c4bd;
}

body {
  font-family: "Inter", sans-serif;
}

h2,
footer {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
}

.itens-comprados {
  text-decoration: line-through;
}

.borda-lista {
  border-bottom: dotted 2px #4b749f;
}

input:disabled {
  border: none;
  background: none;
  color: black;
}

input {
  border: none;
  background: none;
  color: black;
}
